nav{
    display: flex;
    justify-content: space-between;
    width: 60%;
    border: 1px solid rgba(58, 176, 195, 0.5);
}
nav a{
    padding: 5px;
    font-size: 2rem;
}

img {
    vertical-align: middle;
    border-style: none;
    max-width: 100%;
}

a {
    color: #4f4f4f;
    text-decoration: none;
}

table {
    border-collapse: collapse;
}

caption {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    color: #6c757d;
    text-align: left;
    caption-side: bottom;
}

th {
    text-align: inherit;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

button {
    border-radius: 0;
    padding: 0.5rem;
    background-color: #0056b3;
}

input[type="radio"],
input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0.5rem;
}

input {
    padding: 0.8rem;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

textarea {
    overflow: hidden;
    resize: vertical;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}


pre {
    display: block;
    font-size: 87.5%;
    color: #212529;
}


.list {
    list-style: none;
    padding: 0.7rem;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.card_30 {
    width: 30%;
    padding: 3rem;
    border-radius: 1rem;
}

.card_60 {
    width: 60%;
    padding: 3rem;
    border-radius: 1rem;
}

.row {
    display: flex;
}
.column{
    display: flex;
    flex-direction: column;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table tbody+tbody {
    border-top: 2px solid #dee2e6;
}

.table-bordered {
    border: 1px solid #dee2e6;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover {
    color: #212529;
}

.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-blue {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-blue:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-blue:focus {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-grey {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-grey:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
}

.btn-grey:focus {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
    box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}

.btn-green {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-green:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
}

.btn-green:focus {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
    box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}

.btn-see {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btn-see:hover {
    color: #fff;
    background-color: #138496;
    border-color: #117a8b;
}

.btn-see:focus {
    color: #fff;
    background-color: #138496;
    border-color: #117a8b;
    box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
}

.btn-red {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-red:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
}

.btn-red:focus {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
    box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
}